[Desktop Entry]
Exec=lxterminal -e "ls;git pull;gitk --all &mousepad Touchscreen.html&bash"
Type=Application
Path=/home/pi/Desktop/CLONE/RADIOPI
Terminal=false
StartupNotify=true
Icon=