[Desktop Entry]
Exec=lxterminal -e "ls;git pull;gitk --all &pcmanfm .&mousepad Touchscreen.html Einkaufsliste.html Heizung.html RADIOPI.desktop README.md&bash"
Type=Application
Path=/home/pi/Desktop/CLONE/RADIOPI
Terminal=false
StartupNotify=true
Icon=